@inherits Miko.Components.LayoutComponentBase

<div class="layout">
    <div class="sidebar">
        <h2 class="title" @onclick="@(() => NavigateTo("/"))">Miko Ionic</h2>
        <div class="nav-item" @onclick="@(() => NavigateTo("/accordion"))"><span>IonAccordion</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/action-sheet"))"><span>IonActionSheet</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/alert"))"><span>IonAlert</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/avatar"))"><span>IonAvatar</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/badge"))"><span>IonBadge</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/breadcrumb"))"><span>IonBreadcrumb</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/button"))"><span>IonButton</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/card"))"><span>IonCard</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/checkbox"))"><span>IonCheckbox</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/chip"))"><span>IonChip</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/content"))"><span>IonContent</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/datetime"))"><span>IonDatetime</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/fab"))"><span>IonFab</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/footer"))"><span>IonFooter</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/grid"))"><span>IonGrid</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/header"))"><span>IonHeader</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/icon"))"><span>IonIcon</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/infinite-scroll"))"><span>IonInfiniteScroll</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/input"))"><span>IonInput</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/item"))"><span>IonItem</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/label"))"><span>IonLabel</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/list"))"><span>IonList</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/loading"))"><span>IonLoading</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/menu"))"><span>IonMenu</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/note"))"><span>IonNote</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/picker"))"><span>IonPicker</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/popover"))"><span>IonPopover</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/progress-bar"))"><span>IonProgressBar</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/radio"))"><span>IonRadio</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/range"))"><span>IonRange</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/refresher"))"><span>IonRefresher</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/reorder"))"><span>IonReorder</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/searchbar"))"><span>IonSearchbar</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/segment"))"><span>IonSegment</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/select"))"><span>IonSelect</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/skeleton-text"))"><span>IonSkeletonText</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/spinner"))"><span>IonSpinner</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/tab"))"><span>IonTab</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/text"))"><span>IonText</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/textarea"))"><span>IonTextarea</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/thumbnail"))"><span>IonThumbnail</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/title"))"><span>IonTitle</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/toast"))"><span>IonToast</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/toggle"))"><span>IonToggle</span></div>
        <div class="nav-item" @onclick="@(() => NavigateTo("/toolbar"))"><span>IonToolbar</span></div>
    </div>
    <div class="main-content">
        @Body
    </div>
</div>

@code {

    private void NavigateTo(string path)
    {
        NavigationManager?.NavigateTo(path);
    }
}
