@namespace Miko
@inherits MikoDomComponentBase

<ion-tab-button
    tab="@Tab"
    role="tab"
    tabindex="0"
    aria-selected="@Selected"
    id="tab-button-@Tab"
    class="@ClassMapper.Class"
    style="@Style"
    @onclick="HandleOnClick">
    <a tabIndex="-1" class="button-native" part="native">
        <span class="button-inner">
            <slot>@ChildContent</slot>
        </span>
    </a>
</ion-tab-button>