@page "/icon"
<div class="container">
    <h1>Bootstrap Icons Examples</h1>

    <h2>Navigation Icons</h2>
    <div class="icon-row">
        <div class="icon-item">
            <Icon Name="@IconName.House" />
            <span class="icon-label">House</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Search" />
            <span class="icon-label">Search</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Gear" />
            <span class="icon-label">Gear</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Person" />
            <span class="icon-label">Person</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Bell" />
            <span class="icon-label">Bell</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Envelope" />
            <span class="icon-label">Envelope</span>
        </div>
    </div>

    <h2>Action Icons</h2>
    <div class="icon-row">
        <div class="icon-item">
            <Icon Name="@IconName.Plus" />
            <span class="icon-label">Plus</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Dash" />
            <span class="icon-label">Dash</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Check" />
            <span class="icon-label">Check</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.X" />
            <span class="icon-label">X</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Pencil" />
            <span class="icon-label">Pencil</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Trash" />
            <span class="icon-label">Trash</span>
        </div>
    </div>

    <h2>Icon Sizes</h2>
    <div class="icon-row">
        <div class="icon-item">
            <Icon Name="@IconName.Alarm" />
            <span class="icon-label">Default</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Alarm" Size="@IconSize.x2" />
            <span class="icon-label">x2</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Alarm" Size="@IconSize.x3" />
            <span class="icon-label">x3</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Alarm" Size="@IconSize.x4" />
            <span class="icon-label">x4</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Alarm" Size="@IconSize.x5" />
            <span class="icon-label">x5</span>
        </div>
    </div>

    <h2>Arrow Icons</h2>
    <div class="icon-row">
        <div class="icon-item">
            <Icon Name="@IconName.ArrowUp" />
            <span class="icon-label">Up</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.ArrowDown" />
            <span class="icon-label">Down</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.ArrowLeft" />
            <span class="icon-label">Left</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.ArrowRight" />
            <span class="icon-label">Right</span>
        </div>
    </div>

    <h2>File Icons</h2>
    <div class="icon-row">
        <div class="icon-item">
            <Icon Name="@IconName.Download" />
            <span class="icon-label">Download</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Upload" />
            <span class="icon-label">Upload</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Folder" />
            <span class="icon-label">Folder</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.File" />
            <span class="icon-label">File</span>
        </div>
    </div>

    <h2>Status Icons</h2>
    <div class="icon-row">
        <div class="icon-item">
            <Icon Name="@IconName.InfoCircle" />
            <span class="icon-label">Info</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.QuestionCircle" />
            <span class="icon-label">Question</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Exclamation" />
            <span class="icon-label">Exclamation</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Eye" />
            <span class="icon-label">Eye</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Lock" />
            <span class="icon-label">Lock</span>
        </div>
        <div class="icon-item">
            <Icon Name="@IconName.Clock" />
            <span class="icon-label">Clock</span>
        </div>
    </div>
</div>
