@namespace Miko
@inherits MikoDomComponentBase

<ion-icon
    aria-label="@Name"
    role="img"
    class="@ClassMapper.Class"
    slot="@Slot"
    @attributes="@Attributes">
    <div class="icon-inner">
        @((MarkupString)_svgContent)
    </div>
</ion-icon>