@page "/"
@page "/tabs"
@namespace MikoApp1.Ionic.Pages

<IonTabs>
    <Content><div class="demo-content">
        <h1>@_selected.ToUpperInvariant()</h1>
        <p>This is the content for @_selected.</p>
    </div></Content><Bar><IonTabBar Slot="bottom">
        <IonTabButton Tab="tab1" Href="/tab1" Selected="@(_selected == "tab1")" OnClick="@(() => Select("tab1"))">
            <IonIcon Icon="@Ionicons.Triangle" />
            <IonLabel>Tab 1</IonLabel>
        </IonTabButton>
        <IonTabButton Tab="tab2" Href="/tab2" Selected="@(_selected == "tab2")" OnClick="@(() => Select("tab2"))">
            <IonIcon Icon="@Ionicons.Ellipse" />
            <IonLabel>Tab 2</IonLabel>
        </IonTabButton>
        <IonTabButton Tab="tab3" Href="/tab3" Selected="@(_selected == "tab3")" OnClick="@(() => Select("tab3"))">
            <IonIcon Icon="@Ionicons.Square" />
            <IonLabel>Tab 3</IonLabel>
        </IonTabButton>
    </IonTabBar></Bar>
</IonTabs>

@code {
    private string _selected = "tab1";

    private void Select(string tab)
    {
        _selected = tab;
    }
}
